<nav id="menu" style="visibility: visible; display: block; z-index: 1;">
    <ul>
        <div class="centre">
          <ul class="left-img">
            <li class="deux"><img src="images/2pattes.png" height="40" class="nav-item left" alt="logo"></li>
            <li class="trois"><img src="images/2pattes.png" height="40" class="nav-item left" alt="logo"></li>
            <li class="quatre"><img src="images/2pattes.png" height="40" class="nav-item left" alt="logo"></li>
            <li class="autre"><img src="images/2pattes.png" height="40" class="nav-item left" alt="logo"></li>
            <li class="autre"><img src="images/2pattes.png" height="40" class="nav-item left" alt="logo"></li>
          </ul>
          <li class="wimp">WIMP</li>
          <ul class="right-img">
            <li class="deux"><img src="images/2pattes.png" height="40" class="nav-item right" alt="logo"></li>
            <li class="trois"><img src="images/2pattes.png" height="40" class="nav-item right" alt="logo"></li>
            <li class="quatre"><img src="images/2pattes.png" height="40" class="nav-item right" alt="logo"></li>
            <li class="autre"><img src="images/2pattes.png" height="40" class="nav-item right" alt="logo"></li>
            <li class="autre"><img src="images/2pattes.png" height="40" class="nav-item right" alt="logo"></li>

          </ul>
        </div>
</nav>

<img src="images/WIMP-logo.png" class="logo" alt="">
<img src="images/dogo.png" class="logo-r" alt="">
<!--<li><a href="/about/"><i class="fa fa-info-circle"></i> About</a></li>-->
