<table cellspacing="0" cellpadding="0" style="border:solid 1px grey; font-family:verdana; font-size:12px;">
  <caption><h2>Liste des animaux</h2></caption>
  <thead>
    <tr style="background-color:var(--bleuleg); height:20px;">
      <th style="width:130px;">Titre 1</th>
      <th style="width:98px;">Titre 2</th>
      <th style="width:148px;">Titre 3</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">
        <div class="animaux" style="height:100px; overflow:auto;">
          <table cellspacing="0" cellpadding="0" style="color:var(--bleuleg); font-family:verdana; font-size:12px; text-align:center;">
            <tr><td style="width:120px;">donnée 1</td><td style="width:120px;">donnée 2</td><td style="width:120px;">donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
            <tr><td>donnée 1</td><td>donnée 2</td><td>donnée 3</td></tr>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
