<%- include ("_header.ejs"); %>
<div class="block block-centre">
  <a href="/" class="btn btn-retour" type="button">Retour</a>
  <div class="container">
    <h1 class="titre2">Connexion</h1>
    <form class="connexion" action="index.html" method="post">
      <fieldset>
        <div>
          <label for="">Identifiant :      </label>
          <input type="text" name="" value="">
        </div>
        <div>
          <label for="">Mot de passe :      </label>
          <input type="text" name="" value="">
        </div>
      </fieldset>
      <button type="button" class="btn btn-envoyer co" name="button">Envoyer</button>
    </form>
  </div>
</div>
<%- include ("_footer.ejs"); %>
