<%- include ("_header.ejs"); %>

<div class="flex">
  <div class="flex-items flex-item-50 profil-block">
    <div class="profil-infos">
      <h2>Profil</h2>
      <ul>
        <li>Nom : </li>
        <li>Prénom : </li>
        <li>Identifiant : </li>
        <li>Mail : </li>
        <li class="image-li">Avatar : <img src="images/profil.png" class="img-profil" alt=""></li>
      </ul>
    </div>
    <div class="profil-colliers tableau">
      <%- include ("_liste_collier.ejs"); %>
    </div>
  </div>
  <div class="flex-items flex-item-50 profil-block tableau">
    <div class="profil-animaux">
      <%- include ("_liste_animaux.ejs"); %>
    </div>
  </div>
</div>
<div class="btn-block">
  <a href="/home" class="btn btn-profil-retour">Retour</a>
</div>

<%- include ("_footer.ejs"); %>
