<button class="js-static-modal-toggle-main btn btn-lg btn-primary" type="button">Show Me The Modal</button>
<div id="static-modal" class="modal fade" tabindex="-1" role="dialog" style="display: none; padding-right: 17px;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
<script type="text/javascript">
document.querySelector('.js-confirm-modal-toggle').addEventListener('click', function() {

  // Here we create our dynamic modal
  var confirmModal = Modal.confirm('My Custom Alert');
  confirmModal.show().once('dismiss', function(modal, ev, button) {
    if (button && button.value) {
      alert("You've clicked on an OK button.");
    }
  });

});
</script>
