<h2><u>Profil</u></h2>
<form action="index.html" method="post" enctype="multipart/form-data">
  <p><b>Nom de l'animal :</b> <input type="text" name="nom_animal" value=""></p>
  <p><b>Type :</b> <input type="text" name="type" value=""></p>
  <p><b>Date de naissance :</b> <input type="date" name="email" value=""></p>
  <input id="check" type="checkbox" checked onChange="verif();" /><label>Distance maximal</label>
  <div id="range" class="">
    <input type="range" class="notinput" min="0" max="100" value="0" oninput="document.getElementById('AfficheRange').textContent=value" />
    <span id="AfficheRange">0</span>m
  </div>
  <p><b>Collier à utiliser :</b> <input type="text" name="collier" value=""></p>
  <button onclick="annuler();" type="button" class="btn btn-annuler" name="button">Annuler</button>
  <button type="button" class="btn btn-envoyer" name="button">Ajouter</button>
</form>
<script type="text/javascript">
function verif ()
{
    var etat = document.getElementById('check').checked;
    if(etat)
    {
        document.getElementById('range').className = 'on';
    }
    else
    {
        document.getElementById('range').className = 'off';
    }
}
</script>
