<h2><u>Ajouter un collier</u></h2>
<form action="index.html" method="post" enctype="multipart/form-data" class="form-ajout">
  <label><b>Numéros du collier :</b> <input type="text" name="nom_animal" value=""></label>

  <button type="button" class="btn btn-envoyer" name="button">Ajouter</button>
</form>
<button onclick="annuler_modal_2();" type="button" class="btn btn-annuler" name="button">Annuler</button>

<script type="text/javascript">
function verif ()
{
    var etat = document.getElementById('check').checked;
    if(etat)
    {
        document.getElementById('range').className = 'on';
    }
    else
    {
        document.getElementById('range').className = 'off';
    }
}
function annuler_modal_2(){
  var addCollier = document.getElementById('addCollier');
  console.log(addCollier);
  addCollier.style.display = "none";
}

</script>
