<h2><u>Ajouter un animal</u></h2>
<form action="index.html" method="post" enctype="multipart/form-data" class="form-ajout">
  <label><b>Nom de l'animal :</b> <input type="text" name="nom_animal" value=""></label>
  <label><b>Type :</b>
    <select id="pet-select">
      <option value="">--Choisir un type d'animal--</option>
      <%= console.log(locals.user.types);%>
      <% for (const type of locals.user.types) { %>
          <option value="<%= type.type %>"><%= type.type %></option>
      <%}%>
  </select>
  </label>

  <label><b>Date de naissance :</b><input type="date" name="email" value=""></label>

  <label><input id="check" type="checkbox" checked onChange="verif();" />Distance maximal</label>
  <div id="range" class="">
    <input type="range" class="notinput" min="0" max="100" value="0" oninput="document.getElementById('AfficheRange').textContent=value" />
    <span id="AfficheRange">0</span>m
  </div>
  <label><b>Collier à utiliser :</b> <input type="text" name="collier" value=""></label>

  <button type="button" class="btn btn-envoyer" name="button">Ajouter</button>
</form>
<button onclick="annuler_modal_1();" type="button" class="btn btn-annuler" name="button">Annuler</button>

<script type="text/javascript">
function verif ()
{
    var etat = document.getElementById('check').checked;
    if(etat)
    {
        document.getElementById('range').className = 'on';
    }
    else
    {
        document.getElementById('range').className = 'off';
    }
}
function annuler_modal_1(){
  var addAnimal = document.getElementById('addAnimal');
  console.log(addAnimal);
  addAnimal.style.display = "none";
}

</script>
