<nav id="menu" style="visibility: visible; display: block; z-index: 1;">
    <ul>
        <div class="centre">
          <li><a href="/"><img src="images/empreinte-patte.png" height="80" class="nav-item left-img grand" alt="logo"></a></li>
          <li><a href="/"><img src="images/patte.png" width="200" class="nav-item petit" alt="logo"></a></li>
          <li>WIMP</li>
          <li><a href="/"><img src="images/empreinte-patte.png" height="80" class="nav-item right-img grand" alt="logo"></a></li>
          <li><a href="/"><img src="images/patte.png" width="200" class="nav-item petit" alt="logo"></a></li>
        </div>
</nav>

<img src="images/WIMP.png" class="logo" alt="">
<img src="images/dogo.png" class="logo-r" alt="">
<!--<li><a href="/about/"><i class="fa fa-info-circle"></i> About</a></li>-->
