<%- include ("../_partial/_header.ejs"); %>
<div class="block block-centre">
  <a href="/" class="btn btn-retour" type="button">Retour</a>
  <div class="container">
    <h1 class="titre2">Connexion</h1>
    <form class="connexion" action="/connexion" method="post">
      <fieldset>
        <div>
          <label for="">Mail :      </label>
          <input  type="email"
                  placeholder="Email"
                  onchange="verifInput();"
                  name="email"
                  id="email"
                  aria-describedby="basic-addon1">
        </div>
        <div>
          <label for="">Mot de passe :      </label>
          <input  type="password"
                  placeholder="Mot de passe"
                  name="password"
                  id="password"
                  onchange="verifInput();"
                  aria-describedby="basic-addon1">
        </div>
      </fieldset>
      <input type="submit" id="submit" disabled class="btn btn-envoyer co submit" value="Connection" />
      <a href="/inscription" class="lien">Créer un compte</a>

    </form>
  </div>
</div>
<script type="text/javascript">
  function verifInput() {
    var email = document.getElementById('email');
    var password = document.getElementById('password');

    if(email.value != "" && password.value != ""){
      document.getElementById("submit").disabled = false;
      document.getElementById("submit").style.backgroundColor = "var(--marronleg)";
    }
  }
</script>
<%- include ("../_partial/_footer.ejs"); %>
