<%- include ("../_partial/_header.ejs"); %>

<div class="block block-centre1 text-centre">
  <h1 class="titre">Bienvenue</h1>
  <a href="/inscription" class="btn btn-aller" type="button">Inscription</a>
  <a href="/connexion" class="btn btn-aller" type="button">Connexion</a>
</div>
<%- include ("../_partial/_footer.ejs"); %>
