<%- include ("../_partial/_header.ejs"); %>
<div class="block block-centre">
  <a href="/" class="btn btn-retour" type="button">Retour</a>
  <div class="container">
    <h1 class="titre2">Inscription</h1>
    <form class="inscription" action="index.html" method="post">
      <div class="form-block">
        <fieldset>
          <legend>Identitée</legend>
          <div>
            <label for="">Identifiant :   </label>
            <input type="text" name="" value="">
          </div>
          <div>
            <label for="">Prénom :   </label>
            <input type="text" name="" value="">
          </div>
          <div>
            <label for="">Nom :      </label>
            <input type="text" name="" value="">
          </div>
        </fieldset>
        <fieldset>
          <legend>Mot de passe</legend>
          <div>
            <label for="">Mot de passe :      </label>
            <input type="text" name="" value="">
          </div>
          <div>
            <label for="">Confirmation :      </label>
            <input type="text" name="" value="">
          </div>
        </fieldset>
        <fieldset>
          <legend>Coordonnées</legend>
          <div>
            <label for="">Clé d'achat :      </label>
            <input type="text" name="" value="">
          </div>
          <div>
            <label for="">Adresse mail :      </label>
            <input type="text" name="" value="">
          </div>
        </fieldset>
      </div>
      <button type="button" class="btn btn-envoyer" name="button">Envoyer</button>
    </form>
  </div>
</div>
<%- include ("../_partial/_footer.ejs"); %>
