<h2>Liste des colliers</h2>
<div class="tab-overflow">
  <div class="wrapper2 wrapper-entete">
    <p>Numéros de colliers</p>
  </div>
  <div class="wrapper2 wrapper-body">
    <div>
      <p>Un</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
    <div>
      <p>Un</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
    <div>
      <p>Un</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
    <div>
      <p>Un</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
  </div>
</div>
<button type="button" onclick="ajouterCollier();" class="btn btn-envoyer" name="button">Ajouter</button>
<script type="text/javascript">
  function ajouterCollier(){
    var addCollier = document.getElementById("addCollier");
    addCollier.style.display = "block";
  }
</script>
