<h2>Liste des animaux</h2>
<div class="tab-overflow">
  <div class="wrapper wrapper-entete">
    <p>Nom</p>
    <p>Type</p>
    <p>Age</p>
    <p>Collier</p>
  </div>
  <div class="wrapper wrapper-body">
    <div>
      <p>Nom</p>
      <p>Type</p>
      <p>Age</p>
      <p>Collier</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
    <div>
      <p>Un</p>
      <p>Deux</p>
      <p>Trois</p>
      <p>Quatre</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
    <div>
      <p>Un</p>
      <p>Deux</p>
      <p>Trois</p>
      <p>Quatre</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
    <div>
      <p>Un</p>
      <p>Deux</p>
      <p>Trois</p>
      <p>Quatre</p>
      <button type="button" class="btn btn-modifier" name="button">
        <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
      </button>
      <button type="button" class="btn btn-supprimer" name="button">
        <img src="https://img.icons8.com/android/15/000000/trash.png"/>
      </button>
    </div>
  </div>
</div>
<button type="button" onclick="ajouterAnimal();" class="btn btn-envoyer" name="button">Ajouter</button>
<script type="text/javascript">
  function ajouterAnimal(){
    var addAnimal = document.getElementById("addAnimal");
    addAnimal.style.display = "block";
  }
</script>
