<h2>Liste des colliers</h2>
<div class="tab-overflow">
  <div class="wrapper2 wrapper-entete">
    <p>Numéros de colliers</p>
  </div>
  <div class="wrapper2 wrapper-body">
    <div>
      <p>Un</p>
      <p>Modifier</p>
    </div>
    <div>
      <p>Un</p>
      <p>Modifier</p>
    </div>
    <div>
      <p>Un</p>
      <p>Modifier</p>
    </div>
    <div>
      <p>Un</p>
      <p>Modifier</p>
    </div>
  </div>
</div>
<button type="button" class="btn btn-envoyer" name="button">Ajouter</button>
