<h2>Liste des colliers</h2>
<% if(locals.user.colliers[0]){ %>
<div class="tab-overflow">
  <div class="wrapper2 wrapper-entete">
    <p>ID du colliers</p>
    <p>Numéros du colliers</p>
  </div>
  <div class="wrapper2 wrapper-body">
    <% for (const collier of locals.user.colliers) { %>
      <div>
        <p><%= collier.id_collier %></p>
        <p><%= collier.numero_collier %></p>
        <button type="button" class="btn btn-modifier" name="button">
          <img src="https://img.icons8.com/metro/15/000000/edit.png"/>
        </button>
        <form action="/supprimerCollier" method="post" class="btn btn-supprimer">
          <input type="hidden" name="id_collier" value="<%= collier.id_collier %>">
          <input type="image" class="btn btn-supprimer" value="" src="https://img.icons8.com/android/15/000000/trash.png"/>
        </form>
      </div>
    <%}%>
  </div>
</div>
<%} else {%>
<div>
  <p>Vous n'avez pas de collier</p>
</div>
<%}%>

<button type="button" onclick="ajouterCollier();" class="btn btn-envoyer" name="button">Ajouter</button>
<script type="text/javascript">
  function ajouterCollier(){
    var addCollier = document.getElementById("addCollier");
    addCollier.style.display = "block";
  }
</script>
