<table class="colliers-table">
  <caption><h2>Liste des colliers</h2></caption>
  <thead>
    <tr>
      <th>Numéros de colliers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">0000000</td>
    </tr>
    <tr>
      <td scope="row">0000001</td>
    </tr>
    <tr>
      <td scope="row">0000002</td>
    </tr>
    <tr>
      <td scope="row">0000003</td>
    </tr>
    <tr>
      <td scope="row">0000000</td>
    </tr>
    <tr>
      <td scope="row">0000001</td>
    </tr>
    <tr>
      <td scope="row">0000002</td>
    </tr>
    <tr>
      <td scope="row">0000003</td>
    </tr>
  </tbody>
<!--        <tfoot>
    <tr>
      <th scope="row" colspan="2">Total de colliers</th>
      <td colspan="2">2</td>
    </tr>
  </tfoot>
-->
</table>
