<table cellspacing="0" cellpadding="0" class="animaux-table">
  <caption><h2>Liste des animaux</h2></caption>
  <thead>
    <tr class="animaux-tr">
      <th style="width:130px;">Nom</th>
      <th style="width:98px;">Type</th>
      <th style="width:148px;">Age</th>
      <th style="width:148px;">Collier</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">
        <div class="animaux-div">
          <table cellspacing="0" cellpadding="0" class="animaux-tab-tab">
            <tr><td>Chipper</td><td>renard</td><td>13 ans</td><td>0000001</td></tr>
            <tr><td>Chipper</td><td>renard</td><td>13 ans</td><td>0000002</td></tr>
            <tr><td>Chipper</td><td>renard</td><td>13 ans</td><td>0000003</td></tr>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
